.about h2 {
  color: #194BFD;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.about {
  margin: 0 64px 32px 64px;
  padding: 16px;
  background: transparent;
  background: linear-gradient(25deg, rgba(23,23,26,0) 0%, rgba(23,23,26,1) 100%);
}

.about:first-of-type {
  margin-top: 64px;
}