.secondary {
  padding: 12px 18px;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
  border-radius: 29px;
  background: rgb(25,75,253);
  background: linear-gradient(90deg, rgba(25,75,253,1) 0%, rgba(173,19,251,1) 100%);
  cursor: pointer;
}