.projectList {
  --main-size: 1280px;
  --middle-size: 720px;
  --small-size: 480px;
  width: var(--main-size);
  margin: 50px auto;
  padding: 0;
  list-style: none;
  color: #E6E6E6;
}

.projectInfo {
  margin-bottom: 3rem;
  text-align: center;
  animation: show 1s forwards;
}

.projectInfo img {
  width: var(--main-size);
}

.projectInfo h2 {
  font-size: 3rem;
}

.projectInfo h3 {
  margin: 16px 0 8px;
  text-align: left;
  font-size: 2rem;
  color: #194BFD;
}

.projectInfo p {
  margin: 1rem 0;
  text-align: left;
  font-size: 1.5rem;
}

.projectInfo a {
  display: block;
  width: fit-content;
  margin: 8px auto;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: #194BFD;
  transition: color 0.2s ease-in-out;
}

.projectInfo a:hover {
  text-decoration: underline;
  color: #E6E6E6;
}

.projectInfo span {
  color: #194BFD;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}

.projectInfo li {
  margin: 0 1rem 0.5rem 0;
  width: fit-content;
  font-size: 1.5rem;
}

.projectName {
  margin: 0 1rem 0.5rem 0;
  width: 100%;
  border: 1px solid #E6E6E688;
  border-radius: 20px;
  font-size: 1.5rem;
}

.projectName button {
  width: 100%;
  color: #E6E6E6;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.projectName button:hover {
  color: #194BFD;
  transform: scale(1.05);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (width < 1280px) {
  .projectList {
    width: var(--middle-size);
  }

  .projectList img {
    width: var(--middle-size);
  }
}

@media (width < 720px) {
  .projectList {
    width: var(--small-size);
    margin: 30px auto;
  }

  .projectList img {
    width: var(--small-size);
  }
}

@media (width < 480px) {
  .projectList {
    width: calc(100% - 20px);
    padding: 0 10px;
  }

  .projectList img {
    width: 320px;
  }
}

@media (width < 360px) {
  .projectList img {
    display: none;
  }
}